.hidden{
    display: none;
}
#loginbtn{
    background-color: #555555;
    color: white;
    border-radius: 0.5em;

}
header{
    display:flex;
}
nav{
    margin-left:auto;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

body{

    width: 640px;
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center;
    align-items: center;
    margin:auto;
  }

img {
    background-size: cover;
    position:absolute;
    width:130%;
    height:130%;
    left: 0px;
    top: 0px;
    right:10px;
    bottom:0px;
    z-index: -1;
    opacity:0.9;
}

div{
    text-align: center;
}

p {
    font-weight: bold;
    margin: auto;
}

li:nth-child(even) {
    background-color: #ECF9F8;
}
 ul{
   position: flex;
   align-items: center;
   align-content: center;
    align-self: center;
} 

 ol{
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    position: flex;
    background-color: azure;
} 

li:nth-child(odd) {
    background-color: #ECF9F8;
}

form { 
    margin: 0 auto; 
    text-align:center;

    }

h1,.h1 {
    color: whitesmoke;
    font-size: 300%;
}

h2,.h2 {
    color: floralwhite;
    font-size: 185.7%;
}

h3,.h3 {
    color: floralwhite;
}


h4,.h4 {
    justify-content: center;
    justify-self: center;
    font-size: 1.5em;
    font-weight: bold;
    color: floralwhite;
}

h5{
    font-size: 1.2em;
    color: floralwhite;
    font-weight: bold;

}

h6,.h6 {
    color: floralwhite;
    font-size: 80%;
}

h8,.h8 {
    font-size: 70%;
}
